extends layout 

block content
  h1= title 

  h2= 'Categories'
  table(style='width:100%', border='1')
    tr
      th Id 
      th Name 
    each category in data.category_list
      tr
        td 
          a(href="#{category._id}")
            p #{category._id} 
        td 
          a(href=`/categories/${category._id}`)
            p #{category.name} 
  
  h2= 'Products'
  table(style='width:100%', border='1')
    tr 
      th Id 
      th Name 
      th Manufacturer 
    each product in data.product_list 
      tr 
        td 
          p #{product._id}
        td 
          p #{product.name}
        td 
          p #{product.manufacturer}
  
      
      