extends layout 

block content
  h1= title 

  table(style='width:100%', border='1')
    tr
      th Id 
      th Name 
    each manufacturer in data.manufacturer_list
      tr
        td 
          a(href="#{manufacturer._id}")
            p #{manufacturer._id} 
        td 
          a(href=`/manufacturers/${manufacturer._id}`)
            p #{manufacturer.name} 

  h2= 'Products'
  table(style='width:100%', border='1')
    tr 
      th Id 
      th Name 
      th Manufacturer 
    each manufacturer in data.manufacturer_list
      each product in manufacturer.products
        tr 
          td 
            p #{product._id}
          td 
            p #{product.name}
          td 
            p #{product.category}